In [28]:
import pandas as pd

# Step 1: Load the data
file_path = 'C:/Users/Abdul/Downloads/Bird_Strikes_data.csv'
data = pd.read_csv(file_path)

In [29]:

# Step 2: Clean column names by removing leading/trailing whitespace
data.columns = data.columns.str.strip()

In [31]:
# Step 3: Rename columns for better readability
data = data.rename(columns={
    'Record ID': 'Record_ID', 'Aircraft Type': 'Aircraft_Type', 
    'Airport Name': 'Airport_Name', 'Altitude Bin': 'Altitude_Bin',
    'Aircraft Make/Model': 'Aircraft_Make_Model', 'Wildlife Number Struck': 'Wildlife_Number_Struck',
    'Wildlife Number Struck Actual': 'Wildlife_Number_Struck_Actual', 'Impact to Flight': 'Impact_To_Flight',
    'Flight Date': 'Flight_Date', 'Indicated Damage': 'Indicated_Damage', 
    'Number of Engines': 'Number_of_Engines', 'Airline Operator': 'Airline_Operator',
    'Origin State': 'Origin_State', 'Phase of Flight': 'Phase_of_Flight',
    'Precipitation': 'Precipitation', 'Wildlife Remains Collected': 'Wildlife_Remains_Collected',
    'Wildlife Remains Sent': 'Wildlife_Remains_Sent', 'Remarks': 'Remarks',
    'Wildlife Size': 'Wildlife_Size', 'Sky Condition': 'Sky_Condition', 
    'Wildlife Species': 'Wildlife_Species', 'Pilot Warned': 'Pilot_Warned', 
    'Total Cost': 'Total_Cost', 'Altitude (Feet)': 'Altitude_Feet', 
    'People Injured': 'People_Injured', 'Is Aircraft Large?': 'Is_Aircraft_Large'
})

In [34]:
# Step 4: Handle missing values with checks for column existence
# Check if 'Total_Cost' exists, then fill missing values with 0
if 'Total_Cost' in data.columns:
    data['Total_Cost'].fillna(0, inplace=True)
else:
    print("Column 'Total_Cost' not found in the DataFrame.")

# Check if 'Wildlife_Species' and 'Flight_Date' exist, then drop rows with missing values in these columns
missing_columns = [col for col in ['Wildlife_Species', 'Flight_Date'] if col not in data.columns]
if not missing_columns:
    data.dropna(subset=['Wildlife_Species', 'Flight_Date'], inplace=True)
else:
    print(f"Columns missing for dropping NaN values: {missing_columns}")

# Verify the changes by displaying the first few rows after handling missing values
print("Data after handling missing values:")
print(data.head())

Column 'Total_Cost' not found in the DataFrame.
Columns missing for dropping NaN values: ['Wildlife_Species', 'Flight_Date']
Data after handling missing values:
   Record_ID Aircraft: Type                Airport: Name Altitude bin  \
0     202152       Airplane                 LAGUARDIA NY    > 1000 ft
1     208159       Airplane  DALLAS/FORT WORTH INTL ARPT    < 1000 ft
2     207601       Airplane            LAKEFRONT AIRPORT    < 1000 ft
3     215953       Airplane          SEATTLE-TACOMA INTL    < 1000 ft
4     219878       Airplane                 NORFOLK INTL    < 1000 ft

  Aircraft: Make/Model Wildlife: Number struck  \
0            B-737-400                Over 100
1                MD-80                Over 100
2                C-500                Over 100
3            B-737-400                Over 100
4         CL-RJ100/200                Over 100

   Wildlife: Number Struck Actual Effect: Impact to flight     FlightDate  \
0                             859         Engine Shut Down  11/23/00 0:00
1                             424                      NaN   7/25/01 0:00
2                             261                      NaN   9/14/01 0:00
3                             806    Precautionary Landing    9/5/02 0:00
4                             942                      NaN   6/23/03 0:00

  Effect: Indicated Damage  ... Remains of wildlife collected?  \
0            Caused damage  ...                          False
1            Caused damage  ...                          False
2                No damage  ...                          False
3                No damage  ...                           True
4                No damage  ...                          False

  Remains of wildlife sent to Smithsonian Wildlife: Size Conditions: Sky  \
0                                   False         Medium        No Cloud
1                                   False          Small      Some Cloud
2                                   False          Small        No Cloud
3                                   False          Small      Some Cloud
4                                   False          Small        No Cloud

       Wildlife: Species  Pilot warned of birds or wildlife?  Cost: Total $  \
0  Unknown bird - medium                                   N         30,736
1            Rock pigeon                                   Y              0
2      European starling                                   N              0
3      European starling                                   Y              0
4      European starling                                   N              0

  Feet above ground Number of people injured Is_Aircraft_Large
0             1,500                        0               Yes
1                 0                        0                No
2                50                        0                No
3                50                        0               Yes
4                50                        0                No

[5 rows x 25 columns]

In [35]:
# Step 5: Convert 'Flight_Date' to datetime
if 'Flight_Date' in data.columns:
    data['Flight_Date'] = pd.to_datetime(data['Flight_Date'], errors='coerce')
    data.dropna(subset=['Flight_Date'], inplace=True)  # Drop rows with invalid date

In [36]:
# Step 6: Remove duplicates
data.drop_duplicates(inplace=True)

In [38]:
# Step 7: Add new columns or transform data as needed

# Check if 'Flight_Date' exists in the DataFrame and is in datetime format
if 'Flight_Date' in data.columns:
    # Convert 'Flight_Date' to datetime format if it's not already
    if not pd.api.types.is_datetime64_any_dtype(data['Flight_Date']):
        data['Flight_Date'] = pd.to_datetime(data['Flight_Date'], errors='coerce')

    # Extract year and month from 'Flight_Date' for trend analysis
    data['Flight_Year'] = data['Flight_Date'].dt.year
    data['Flight_Month'] = data['Flight_Date'].dt.month
    display(data[['Flight_Year', 'Flight_Month']].head())
else:
    print("Column 'Flight_Date' not found in the dataset.")

Column 'Flight_Date' not found in the dataset.

In [39]:
# Step 8: Data Analysis - Calculate Average Cost per Wildlife Species
if 'Wildlife_Species' in data.columns and 'Total_Cost' in data.columns:
    average_cost_per_species = data.groupby('Wildlife_Species')['Total_Cost'].mean().sort_values(ascending=False)
    print("\nAverage Cost per Wildlife Species:")
    print(average_cost_per_species.head(10))  # Display top 10 species by average cost
else:
    print("Required columns ('Wildlife_Species' or 'Total_Cost') are missing.")

Required columns ('Wildlife_Species' or 'Total_Cost') are missing.

In [40]:
# Step 9: Save cleaned and processed data to a new CSV file
output_file_path = 'C:/Users/Abdul/Downloads/processed_Bird_Strikes_data.csv'
data.to_csv(output_file_path, index=False)
print(f"Processed data saved to {output_file_path}")

Processed data saved to C:/Users/Abdul/Downloads/processed_Bird_Strikes_data.csv